/* GENERAL */


* {
    margin: 0;
    padding: 0;
}

:root {
    --pimary-color1: #A51515;
    --pimary-color2: #FFF6E4;

    --secondary-color1: #8CCFFF;
    --secondary-color2: #FFF458;
    --secondary-color3: #FF9845;
    --secondary-color4: #FED7FE;
    
    --extra1: #8EA84B;

    --text-color: #000;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/Gotham-Rounded/gothamrnd_medium.otf');
}

@font-face {
    font-family: 'Calibri Regular';
    src: url('../fonts/calibri-font-family/calibri-regular.ttf');
}

@font-face {
    font-family: 'Mary Kate';
    src: url('../fonts/mary-kate/MaryKate.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Calibri Regular';
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--pimary-color2);
    background-image: url('../img/mad.svg');
    background-size: 40%;
    background-blend-mode: soft-light;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    padding: 30px;
    max-width: 1500px;
    border-radius: 10px;
}

.stylized-background {
    width: fit-content;
    padding: 20px 30px;
    border-radius: 10px;
    color: var(--pimary-color2);
    background-color: var(--pimary-color1);
    box-shadow: 10px 10px 0px #620d0d;
}

.stylized-background-simple {
    border-radius: 10px;
    box-shadow: 10px 10px 0px var(--pimary-color1);
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 30px 0;
    min-height: 80px;
    overflow: hidden;
    position: relative;
}

.section-header-bg {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(50, 50, 50, 0.5); */
    background-color: var(--pimary-color1);
    /* background-blend-mode: saturation;
    background-image: url('../img/kasser/luksus.png');
    background-position: center center;
    background-size: cover; */
    opacity: 1;
    z-index: 0;
}

.section-header h1 {
    color: var(--pimary-color2);
    font-size: 2.3em;
    font-family: 'Gotham Rounded';
    text-transform: uppercase;
    letter-spacing: 0.06em;
    position: relative;
    z-index: 1;
}

video {
    border-radius: 10px;
}

button {
    cursor: pointer;
    width: fit-content;
    margin: 10px 0;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    color: var(--pimary-color2);
    background-color: var(--pimary-color1);
    font-size: 1em;
    font-family: 'Gotham Rounded';
}

button:hover {
    background-color: #620d0d;
}

li a {
    color: var(--text-color);
}

li a:hover {
    color: var(--pimary-color2);
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

h1, h2, h3, h4, h5, h6, p, span {
    cursor: default;
    text-decoration: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--pimary-color1);
}

h1 { font-size: 2.1em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.1em; }


/* NAVIGATION */


.navbar {
    width: 100%;
    height: fit-content;
    position: sticky;
    background-color: var(--pimary-color2);
    background-image: url('../img/mad.svg');
    background-size: 40%;
    background-blend-mode: soft-light;
    color: var(--text-color);
    font-family: 'Gotham Rounded';
    font-size: 1.5em;
    max-height: 69px;
    transition: max-height ease 0.2s;
    border-bottom: 3px solid var(--pimary-color1);
    z-index: 99999;
    position: sticky;
    top: 0;
}

.navbar .nav-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar li {
    cursor: pointer;
    padding: 20px 15px;
    background-color: transparent;
    transition: 0.2s;
}

.navbar li:hover {
    color: white;
    background-color: var(--pimary-color1);
    transition: 0.2s;
}

.navbar .nav-left {
    width: 100%;
    margin: 0 40px;
    max-width: 580px;
}

.navbar .nav-middle {
    width: 100%;
    min-width: 80px;
    max-width: 200px;
    min-height: 50px;
    max-height: 500px;
    position: relative;
}

.navbar .nav-middle img {
    width: 93%;
    position: absolute;
    top: 107%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.2));
}

.navbar .nav-middle img:hover {
    cursor: pointer;
}

.navbar .nav-right {
    width: 100%;
    margin: 0 40px;
    max-width: 580px;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.sub-mega-menu {
    gap: auto !important;
    position: unset !important;
}

.sub-menu-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sub-menu-title a {
    color: var(--text-color);
}

.sub-menu-title a:hover {
    color: var(--pimary-color2);
}

.sub-menu-hover-icon {
    transform: rotate(180deg);
    transition: 0.2s;
}

.sub-menu-items {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    display: none !important;
    min-width: fit-content;
    width: 100%;
    background-color: var(--pimary-color1);
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: calc(100% + 1.5px);
    left: 50%;
    transform: translate(-50%, 0);
}

.sub-menu-items li {
    cursor: default;
    padding: 10px 20px !important;
}

.sub-menu-items li a {
    color: var(--pimary-color2);
}

.sub-menu-items li a:hover {
    color: var(--text-color);
}

.mega-menu i {
    font-size: 0.6em;
    transition: 0.2s;
}

.mega-menu-content-wrapper {
    cursor: default;
    display: none;
    width: 100%;
    max-height: 0;
    transition: 0.2s;
    background-color: #ece1cb;
    border-bottom: 3px solid var(--pimary-color1);
    position: absolute;
    top: calc(100% + 1.5px);
    left: 50%;
    transform: translate(-50%, 0);
}

.mega-menu-content-wrapper-hover {
    max-height: 300px;
    transition: 0.2s;
}

.mega-menu-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
}

.mega-menu-content a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 250px;
    background-color: var(--pimary-color1);
    background-size: cover;
    background-position: center center;
    background-blend-mode: saturation;
}

.mega-menu-content a:hover {
    background-color: rgb(129, 129, 129) !important;
    background-blend-mode: overlay;
}

.mega-menu-content a h4 {
    cursor: pointer;
    color: var(--pimary-color1);
    font-size: 1em;
    font-family: 'Gotham Rounded';
    text-transform: uppercase;
    letter-spacing: 0.06em;
    background-color: var(--pimary-color2);
    padding: 5px 8px;
    border-radius: 10px;
}

.orange {
    background-color: var(--secondary-color3) !important;
}
.yellow {
    background-color: var(--secondary-color2) !important;
}
.purple {
    background-color: var(--secondary-color4) !important;
}
.blue {
    background-color: var(--secondary-color1) !important;
}


/* HJEM */


#hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: var(--pimary-color2);
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.8em;
    background-color: rgb(82, 82, 82);
    background-image: url('../img/stock/AdobeStock_700461901_Preview.jpeg');
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
    border-bottom: 3px solid var(--pimary-color1);
}

.left-article-video-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.left-article-video-section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 40%;
}

.left-article-video-section article header {
    margin-bottom: 20px;
}

.left-article-video-section article button {
    margin-top: 30px;
    font-size: 1.5em;
}

.left-article-video-section video {
    width: 60%;
}

.flex-cards-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.retter-info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 550px;
    overflow: hidden;
    background-color: var(--pimary-color1);
    border-radius: 10px;
    font-family: 'Mary Kate';
    letter-spacing: 2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 50px;
    transform: scale(1);
    transition: transform ease 0.2s;
}
.retter-info-card:hover {
    transform: scale(1.05) rotateZ(1.5deg);
    transition: transform ease 0.2s;
}
.retter-info-card-healthy {
    background-color: var(--secondary-color1) !important;
}
.retter-info-card-healthy-row {
    background-color: #8ccfff76 !important;
}
.retter-info-card-family {
    background-color: var(--secondary-color2) !important;
}
.retter-info-card-family-row  {
    background-color: #fff4587d !important;
}
.retter-info-card-vegan {
    background-color: var(--secondary-color3) !important;
}
.retter-info-card-vegan-row  {
    background-color: #ff994579 !important;
}
.retter-info-card-luxury {
    background-color: var(--secondary-color4) !important;
}
.retter-info-card-luxury-row  {
    background-color: #fed7fe80 !important;
}
.retter-info-card h4,
.retter-info-card figcaption {
    cursor: default;
    font-size: 1.8em;
}
.retter-info-card p {
    font-family: 'Calibri Regular';
    letter-spacing: 0px;
    font-size: 1.2em;
    padding: 5px 0;
}
.retter-info-card-bg {
    background-position: center center;
    background-size: 160%;
    position: relative;
    width: 100%;
    height: 50%;
}
.retter-info-card-category {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: var(--pimary-color2);
    border-radius: 10px 0 0 10px;
    padding: 5px 20px;
}
.retter-info-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 26px);
    height: 50%;
    margin: 10px;
    background-color: var(--pimary-color2);
    border-radius: 10px;
    border: 4px dashed var(--secondary-color3);
}
.retter-info-card-details-title {
    margin: 10px 0;
}
.retter-info-card-details-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.retter-info-card-details-content-rows {
    width: calc(100% - 20px);
    margin: 0 10px;
}
.retter-info-card-details-content-rows div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    margin: 3px 0;
    background-color: #ff994550;
    border-radius: 5px;
}
.retter-info-card-details-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* TILPAS SIDE */


#tilpas-description {
    font-size: 2em;
    padding: 0;
}

#tilpas {
    margin-top: 0;
    padding-top: 0;
}

.tilpas-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--pimary-color2);
    background-color: var(--extra1);
    padding: 0 5px 5px 5px;
    font-family: 'Mary Kate';
    letter-spacing: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
}

.tilpas-wrapper h1 {
    font-size: 4em;
    padding: 5px;
}

.tilpas-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    height: fit-content;
    background-color: var(--pimary-color2);
    background-image: url('../img/mad.svg');
    background-blend-mode: soft-light;
    background-size: 80%;
    position: relative;
    overflow: hidden;
    color: var(--text-color);
}

.tilpas-content h1 {
    font-size: 5em;
}

#tilpas-content-back {
    position: absolute;
    font-size: 4em;
    color: var(--extra1);
    top: 20px;
    left: 20px;
}

#tilpas-content-step {
    position: absolute;
    font-size: 4em;
    color: var(--extra1);
    top: 0px;
    right: 15px;
}

#tilpas-content-back:hover {
    cursor: pointer;
    color: var(--pimary-color1);
}

.tilpas-content-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    max-width: calc(100% - 40px);
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.tilpas-content-bottom img {
    width: 130px;
}

.tilpas-content-bottom-img-right {
    width: 100px !important;
}

.tilpas-content-part {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tilpas-content-part-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.tilpas-content-number {
    padding: 10px 60px;
    margin: 20px 50px;
    font-size: 15em;
    color: var(--pimary-color2);
    font-family: 'Gotham Rounded';
    background-color: var(--extra1);
    border-radius: 10px;
}

.tilpas-content-number:hover {
    background-color: var(--pimary-color1);
    cursor: pointer;
}

.tilpas-content-card {
    padding: 30px 80px;
    margin: 20px 50px;
    font-size: 3em;
    letter-spacing: 0px;
    position: relative;
    color: var(--pimary-color2);
    font-family: 'Gotham Rounded';
    background-color: var(--extra1);
    border-radius: 10px;
}

.tilpas-content-card:hover {
    background-color: var(--pimary-color1);
    cursor: pointer;
}

.tilpas-content-card i {
    font-size: 0.5em;
    position: absolute;
    top: 10px;
    right: 10px;
}

.tilpas-content-info {
    font-size: 3.5em;
    color: var(--pimary-color2);
}

#tilpas-content-part-1 {
    display: flex;
}
#tilpas-content-part-2 {
    display: none;
}
#tilpas-content-part-3 {
    display: none;
}
#tilpas-content-part-4 {
    display: none;
}
#tilpas-content-part-5 {
    display: none;
}

#tilpas-content-part-4 .tilpas-content-part-content {
    gap: 50px;
}
#tilpas-content-part-4 .tilpas-content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-size: 3em;
}
#tilpas-content-part-4 .tilpas-content-form div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 10px;
    gap: 10px;
}
#tilpas-content-part-4 .tilpas-content-form i {
    color: var(--extra1);
    width: 70px;
}
#tilpas-content-part-4 .tilpas-content-form input[type=text],
#tilpas-content-part-4 .tilpas-content-form input[type=email] {
    width: 100%;
    min-height: 40px;
    font-size: 0.8em;
    outline: none !important;
    border-radius: 10px;
    border: 3px solid var(--extra1);
    padding: 0 10px;
}
#tilpas-content-part-4 .tilpas-content-form input[type=checkbox] {
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    font-size: 0.8em;
}
#tilpas-content-part-4 .tilpas-content-form button {
    position: relative;
}
#tilpas-content-part-4 .tilpas-content-form img {
    width: 300px;
    position: absolute;
    top: 90px;
    left: 0;
}
#tilpas-content-part-4 .tilpas-content-info,
#tilpas-content-part-5 .tilpas-content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--extra1);
}

#tilpas-content-part-5 .tilpas-content-info {
    flex-direction: column;
    text-align: center;
    max-width: 700px;
    margin-top: 45px;
    color: var(--pimary-color2);
}

#tilpas-content-part-5 .tilpas-content-info img {
    width: 250px;
}


/* OPSKRIFTSBLOG SIDE */


.opskrift-container {
    display: flex;
    justify-content: center;
    width: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 50px;
}
.opskrift-container img {
    width: 101%;
    height: auto;
}


/* FOOTER */


footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 170px;
    font-family: 'Gotham Rounded';
    padding: 30px;
    margin-top: 30px;
    background-color: var(--pimary-color1);
    background-image: url('../img/mad2.svg');
    background-size: 40%;
    position: relative;
}

#footer-wrapper {
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

#footer-content {
    cursor: default;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: var(--pimary-color2);
}

#footer-logo {
    width: 150px;
    color: var(--pimary-color2);
}

#footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--pimary-color2);
}

footer #footer-wrapper ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    list-style: none;
}

#footer-wrapper ul li {
    padding: 5px 8px;
    margin: 5px 0;
    font-size: 1.2em;
}

#footer-wrapper ul li a {
    color: var(--pimary-color2);
}

#footer-wrapper ul li a:hover {
    color: black;
}

#footer-wrapper ul li i {
    font-size: 1.5em;
}